.orders {
  width: 70%;
  margin: auto;
  margin-bottom: 2rem;
}

.order {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
  background-color: var(--very-light-color);
  border: 1px solid var(--very-light-color);
}
.order:hover {
  cursor: pointer;
  border: 1px solid var(--light-color);
}
.statusIcon {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: yellow;
  border: 1px solid black;
  margin: 20px;
}
.status,
.time,
.amount,
.noOfItems {
  flex: 1;
  padding: 20px;
}

.dropdownCloseOpenIcon {
  margin: 20px;
}

.item {
  display: flex;
  justify-content: space-around;
  font-size: 1rem;

  list-style-type: none;
  border-bottom: 1px solid var(--light-color);
}

.title,
.price,
.quantity,
.subTotal {
  flex: 1;
  text-align: center;
  padding: 6px;
}

.subTotal {
  font-weight: bold;
}
.noOrders {
  width: 200px;
  margin: auto;

  text-align: center;
  font-weight: bold;
}
@media only screen and (max-width: 550px) {
  .orders {
    width: 90%;

    font-size: 0.7rem;
  }

  .order {
    padding: 5px 0px;
  }

  .statusIcon {
    margin: 0px;
    margin-right: 5px;
  }
  .status,
  .time,
  .amount,
  .noOfItems {
    flex: 1;
    padding: 0px;
    text-align: center;
  }

  .dropdownCloseOpenIcon {
    margin: 0px;
    height: 10px;
    margin-left: 5px;
  }

  .item {
    font-size: 0.7rem;
  }

  .title,
  .price,
  .quantity,
  .subTotal {
    padding: 0px;
  }
  .title {
    flex: 4;
    text-align: left;
    margin-left: 5px;
  }
}
