* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --primary-color: #f25797;
  --primary-color-light: #eea4c3;
  --secondary-color: #abff4f;
  --secondary-color-light: #dbffb4;
  --dark-color: #1c0f13;
  --light-color: #6e7e85;
  --very-light-color: #e7e7e7;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

body {
  font-family: sans-serif;
}

button {
  font-family: sans-serif;
}
header {
  display: flex;
  align-items: center;
  width: 70%;
  margin: auto;
  padding-top: 0.5rem;
  height: 10vh;
}

@media screen and (max-width: 500px) {
  header {
    width: 95%;
  }
}
