* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}

button {
  font-family: sans-serif;
}
header {
  display: flex;
  align-items: center;
  width: 70%;
  margin: auto;
  margin-top: 0.5rem;
  height: 10vh;
}

@media screen and (max-width: 500px) {
  header {
    width: 95%;
  }
}
