.mediumIcon {
  height: 40px;
}

.btn {
  display: inline-block;
  width: 6.5rem;
  background: var(--primary-color);
  color: var(--dark-color);
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  outline: none;
}
.btn:hover {
  background-color: var(--light-color);
  color: white;
}

@media screen and (max-width: 500px) {
  .btn {
    display: inline-block;
    width: 5rem;
    background: var(--primary-color);
    color: var(--dark-color);
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    outline: none;
  }
}
