.cart {
  width: 70%;
  margin: auto;
  margin-bottom: 2rem;
}

.heading {
  display: flex;
  justify-content: space-around;
  font-size: 1rem;
  background-color: var(--light-color);
  color: white;
  margin-top: 2rem;
}
/* .items {
} */
.itemHeading {
  flex: 2;
}
.itemHeading,
.priceHeading,
.quantityHeading,
.totalHeading {
  font-size: 1.1rem;
  padding: 20px;
}

.priceHeading,
.quantityHeading,
.totalHeading {
  flex: 1;
  text-align: center;
}

.item {
  display: flex;
  justify-content: space-around;
  font-size: 1rem;

  list-style-type: none;
  border-bottom: 1px solid var(--light-color);
}

.title {
  flex: 2;
}
.price,
.quantity,
.subTotal {
  flex: 1;
  text-align: center;
}

.title,
.price,
.quantity,
.subTotal {
  padding: 20px;
}
.subTotal {
  font-weight: bold;
}

.qty {
  padding: 0.5rem;
}
.increment,
.decrement {
  width: 30px;
  height: 30px;
  font-weight: bold;
  font-size: 1.1rem;
  background-color: var(--primary-color);
  color: white;
  border-radius: 50%;
  border-width: 0px;
  text-align: center;
  outline: none;
  cursor: pointer;
}
.checkout,
.total {
  float: right;
  margin: 1rem;
}
/* .total */

.emptyCart {
  display: inline-block;
  width: 6.5rem;
  background: white;
  color: var(--dark-color);
  /* padding: 0.4rem 0.3rem; */
  font-size: 1rem;
  border: none;
  cursor: pointer;
  outline: none;
  margin: 1rem;
}
.emptyCart:hover {
  color: var(--primary-color);
}

@media only screen and (max-width: 550px) {
  .cart {
    width: 95%;
  }
  .itemHeading,
  .priceHeading,
  .quantityHeading,
  .totalHeading {
    font-size: 0.7rem;
    padding: 10px;
  }

  .item {
    font-size: 0.7rem;
  }

  .title,
  .price,
  .quantity,
  .subTotal {
    padding: 5px;
  }

  .increment,
  .decrement {
    width: 20px;
    height: 20px;

    font-size: 0.7rem;
  }

  .total {
    margin: 0.7rem;
  }
}
