.carouselContainer {
  margin: auto;
  margin-top: 10px;
  position: relative;
  /* border-top: 20px solid black;
  border-bottom: 20px solid black; */
  overflow: hidden;
}
.carouselSlide {
  display: flex;
}

.prevBtn {
  border: none;
  background: none;
  outline: none;

  position: absolute;
  top: 40%;
  z-index: 1;
  left: 0;

  cursor: pointer;
}

.nextBtn {
  border: none;
  background: none;
  outline: none;

  position: absolute;
  top: 40%;
  z-index: 1;
  right: 0;

  cursor: pointer;
}

.prevImg,
.nextImg {
  height: 5vw;
}
