.checkout {
  width: 70%;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: 2fr 1fr;

  column-gap: 20px;
}
.deliveryOptions {
}
.orderSummary {
  border: 1px solid var(--light-color);
  padding: 1rem;
  font-size: 0.9rem;
  align-self: start;
}
.orderSummary h2 {
  text-align: center;
}

.orderSummary h3 {
  margin: 0.5rem 0px;
}

.addressesContainer {
  width: 100%;
}
.deliveryAddress {
  border: 1px solid var(--light-color);
  padding: 1rem;
  font-size: 0.9rem;
}
.paymentOptions {
  border: 1px solid var(--light-color);
  padding: 1rem;
  font-size: 0.9rem;
  margin-top: 20px;
}
.paymentOption {
  width: 100%;

  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid var(--light-color);
}
.paymentOptionSelectable {
  width: 100%;
}
.paymentOptionSelectable:hover {
  cursor: pointer;
  border: 1px solid var(--primary-color);
}

.submit {
  margin-top: 1rem;
  margin-left: auto;
}
