.creditCardContainer {
  width: 100%;

  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid var(--light-color);
  border-radius: 10px;
  border: none;
}

.expiryAndCVV {
  font-weight: bold;
  color: grey;
  display: flex;
}

.expiryField,
.cvvField {
  flex: 1;
}
.expiryField {
  margin-right: 1rem;
}

.form {
}
.form input[type="text"],
.form input[type="email"],
.form input[type="password"],
.form input[type="date"],
.form select,
.form textarea {
  width: 100%;
  padding: 0.4rem;
  font-size: 1rem;
  border: 1px solid var(--light-color);
  border-radius: 5px;
  outline: none;
  display: block;
}

.label {
  display: inline-block;
  font-weight: bold;
  color: grey;
  margin: 0.3rem;
}

.submit {
  margin-top: 1rem;
}

.spinnerContainer {
  margin: 5rem auto 0rem auto;
}

@media screen and (max-width: 1000px) {
  .addressContainer {
    padding-left: 3rem;
    width: 100%;
  }

  .form input[type="text"],
  .form input[type="email"],
  .form input[type="password"],
  .form input[type="date"],
  .form select,
  .form textarea {
    width: 65%;
  }
}

@media screen and (max-width: 500px) {
  .addressContainer {
    padding-left: 1rem;
    padding-right: 0rem;
    width: 100%;
  }

  .form input[type="text"],
  .form input[type="email"],
  .form input[type="password"],
  .form input[type="date"],
  .form select,
  .form textarea {
    width: 65%;
  }
}
