.alert {
  width: 80vw;
  padding: 20px;

  margin: auto;
  margin-bottom: 1rem;

  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);

  background-color: var(--light-color);

  text-align: center;
  font-weight: bold;
}
@media only screen and (max-width: 550px) {
  .alert {
    width: 90vw;
  }
}
