.dropdownItem {
  display: flex;
  align-items: center;
  height: 2.5rem;
  border-bottom: 1px solid var(--light-color);

  padding: 0.5rem;
  color: var(--primary-color);
}

.dropdownItem:hover {
  background-color: var(--secondary-color);
}
.dropdownText {
  margin-left: 0.5rem;
}
