.slideMenuTitle {
  padding-right: 0.3rem;
}

.slide-menu {
  z-index: 90;
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100vh;
  width: 60vw;
  top: 0vh;
  left: 0vh;

  background-color: white;
}

.slide-menu-enter {
  transform: translateX(-60vw);
}
.slide-menu-enter-active {
  transform: translateX(0vw);
  transition: transform 200ms;
}
.slide-menu-exit {
  transform: translateX(0vw);
}
.slide-menu-exit-active {
  transform: translateX(-60vw);
  transition: transform 200ms;
}
