.slideMenuItem {
  display: flex;
  align-items: center;
  height: 3rem;
  border-bottom: 1px solid var(--light-color);

  padding: 0.5rem;
  color: var(--primary-color);

  font-size: 1.5rem;
}
.slideMenuItem:hover {
  background-color: var(--secondary-color-light);
}

.slideMenuIcon {
  margin-left: 0.5rem;
}

.slidMenuText {
  margin-left: 0.5rem;
}
