.formContainer {
  flex-grow: 1;
  margin-left: 20px;
}

.form {
}
.form input[type="text"] {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  height: 2rem;
  border: 1px solid var(--light-color);
  outline: none;
}
.searchButton {
  height: 2rem;
  width: 2rem;
  border: 1px solid var(--light-color);
  border-left: none;
  vertical-align: top;
  outline: none;
  background-color: var(--secondary-color);
  cursor: pointer;
}
.searchIcon {
  height: 1.4rem;
}
@media only screen and (max-width: 550px) {
  .formContainer {
    flex-grow: 0;
    order: 1;
    margin-left: 0px;
    margin: auto;
  }
  .form input[type="text"] {
    width: 77vw;
    height: 3rem;
  }
  .searchButton {
    height: 3rem;
    width: 3rem;
  }
  .searchIcon {
    height: 2rem;
  }
}
