.formContainer {
  flex-grow: 1;
  margin-left: 20px;
}

.form {
}
.form input[type="text"] {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  height: 2rem;
  border: 1px solid var(--light-color);
  outline: none;
}
.searchButton {
  height: 2rem;
  width: 2rem;
  border: 1px solid var(--light-color);
  vertical-align: top;
  outline: none;
}
.searchIcon {
  height: 1.4rem;
}
